body{
background-color: rgb(72, 218, 201);
}
.puntaje{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    background-color: rgb(198, 198, 198);
    width: 50px;
    height: 50px;
    cursor: pointer;
    -webkit-mask-image: url("../IMG/estrella___76653bf2b6c231d___.svg");
    mask-image: url(../IMG/estrella___76653bf2b6c231d___.svg);
}
.item.selec{
    background-color: yellow;
}